#edit-rules-settings .form-wrapper .fieldset-legend {
    position: relative;
}
#edit-rules-settings .form-wrapper .fieldset-legend .view-link
{
    margin-right: -85px;
}
#edit-rules-settings .form-wrapper .fieldset-legend .delete-link {
    position: relative;
    width: 10px;
    font-size: 75%;
    padding: 0 5px;
    background: #fff;
    left: 130px;
    font-weight: bold;
}

#edit-rules-settings .form-wrapper .fieldset-legend .delete-link a {
    color: red;
}